@model TreatShop.Models.Treat;

<h2>Treat Details</h2>

<h3>@Html.DisplayNameFor(model => model.TreatName): @Html.DisplayFor(model => model.TreatName)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This treat has no logged flavors</p>
}
else
{
  <h4>This treats flavors include: </h4>
  <ul>
    @foreach (var join in Model.JoinEntities)
    {
      <li>@join.Flavor.FlavorName</li>
    }
  </ul>
}

<p>@Html.ActionLink("Add an additional flavor for this treat", "AddFlavor", new {id = Model.TreatId})</p>
<p>@Html.ActionLink("Edit this treat", "Edit", new {id = Model.TreatId})</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>